div.card.card-block
  h4.card-title 5 Whys
  p.card-text Repeatedly asking “why?” in order to get to the root cause of the problem with the goal of thinking differently. Originally a Toyota manufacturing technique is a root cause analysis used to get to a deeper understanding of problems faced in product development. The concept is basic in its setup and so easy to implement. When you incur an issue don’t except the first problem presented to you as the root cause, but ask why recurringly 5 times.

  p.card-text <em>More info</em>:
    a(href="https://www.youtube.com/watch?v=JmrAkHafwHI") Harvard Business Review Video on Youtube
