h3.p-y-2.display-4 Philosophy

p.
 Innovation is part of our DNA at Mozilla. For us, innovation is not just about
 breakout products that support the open web, it’s about how we make those
 products – with transparency, communication, and a participatory approach.

p.
 This innovation toolkit is designed to empower each and every person at
 Mozilla with a set of tried and true methods to move us forward in building the
 products that support our mission. The toolkit currently focuses on the earlier
 part of product development around insight gathering, ideation, and rapid
 prototyping. This upfront work should flow into a more established product
 development process.

p.
  Each activity includes pertinent information around purpose, outcome, time,
  number of people needed, difficulty, equipment/materials/space, and detailed
  steps. We have also linked out to articles and blog posts that describe methods
  in a way we consider to be a best practice. Our goal is to create a collection
  that leverages our internal knowledge and takes advantage of the great work
  others have contributed in the field.

p.
  The Open Innovation Team has a “train the trainer” mindset where our goal is
  to enable and empower other Mozillians to deploy these methods. However we know
  that is it is sometimes more expedient or preferable to have experienced
  facilitators run a particular session -- in this case the Innovation Team will
  happily support the team directly.  Ask for a facilitator, email us at:
  a(href="mailto:open.innovation@mozilla.com")
    span open.innovation@mozilla.com

p.
  The Mozilla manifesto pledges the organization to build and deliver great consumer products that support that manifesto's principles. To do that, we will work by the following product principles:

h3.p-y-2.display-4 Product Principles

ul.list-group
  li.list-group-item We will build products that solve challenges real users face.
  li.list-group-item We will obsessively seek to understand these user challenges by bringing empathy, cultural awareness, and fairness to every challenge.
  li.list-group-item We will not fall in love with the solutions we create, but instead keep our focus on the problems we are trying to solve. We know that there are myriad solutions to a problem, but a solution can only be right or wrong.
  li.list-group-item We will use our muscles to build only after we have uncovered insights, generated multiple ideas, and rapidly prototyped and tested possible solutions.
  li.list-group-item We will take pride in our work but remember that we are building for users, not just ourselves.
  li.list-group-item We will create unique and defensible products with value propositions that are driven by the market.
