div.card.card-block
  h4.card-title Affinity Clustering
  p.card-text A technique that allows you to see patterns in your data. It is often used as part of the synthesis process. Firstly you want to break down your subject area into modular pieces of information you can move around, you can use cards or post its for this. On each post it add one piece of information (observations, data, insights). In a team or alone, start grouping the information in different ways. You can either do this one at a time or give it a go as a group. Once all post its/cards are grouped, start thinking about what the groups are and name them. From the exercise you will start to see new clusters of your data and get an idea of what important sub groupings emerge.
