div.card.card-block
  h4.card-title Card Sort
  p.card-text Card sorting allows you to understand how users organise information and concepts. Create a set of cards with what you want sorted from the user's perspective and ask them to group them into groups based on their own perception of how things should be prioritized or sequenced, do not guide them at all at this step. Follow up with questions to understand why the cards were grouped as they were and additionally ask the user to label the groups and optionally rank them in importance. The method is beneficial in gaining quick input on how users mental model is built up to ensure systems are structured to fit their way of thinking.

  p.card-text <em>More info</em>: 
    a(href="Usability.gov") Usability.gov
