h1 Quick Everyday Methods

p A limited set of effective practices that we support and recommend in the innovation process

ul
  li <a href="/job-to-be-done">Job to be done</a>
  li <a href="/card-sort">Card sort</a>
  li <a href="/5whys">5 Whys</a>
  li <a href="/mindmap">System Diagrams / Mindmaps</a>
  li <a href="/howmightwe">How Might We?</a>
  li <a href="/affinity-clustering">Affinity Clustering</a>
