h1 Feature Ideation

div.card
  div.card-header
    strong Objective
  div.card-block
    div.card-text  Reframe known user needs and use as inspirations to come up with creative new features

div.card
  div.card-header
    strong Outcome
  div.card-block
    div.card-text Rapidly generated, tangible ideas that can be evolved and integrated into product feature set



h4 Time
ul
  li Prep of 15-20 minutes for 30-60 minute session
  li Strictly timed 30-60 minute session
  li 15-30 minutes synthesis time

h4 Number of people needed
ul
  li At least 3, but break into subgroups if over 6
  li Invite a diverse, multidisciplinary audience
  li Facilitator can kick off brainstorm and then participate

h4 Equipment/materials/space
p Smallest space where the participants can cluster around a wall or board where postit notes can be placed and rearranged

h4 Detailed steps
ol
  li Introduce your target user and the need you are trying to solve.
    ul
      li Characterize your target in a textured and non-stereotypical way
      li Frame the need in an open question. Not: “let’s create a better calendar app to make user X more efficient” but instead: “how might we create more time in the day for user X?”
  li Review rules of brainstorm
    ul
      li Defer judgement; Encourage wild ideas; Build on the ideas of others; One conversation at a time; Be visual; Stay focused on the topic; Go for quantity; one postit per idea
  li Divergent Thinking (⅓ of allotted time)
    ul
      li Rapid creation of random, unorganized, wild, free-flowing, novel ideas in a short period of time. The method is used to think outside the usual constraints, and to get comfortable with ideas that may not be immediately valuable, but could provide the required novel ingredient in driving innovation.
  li Convergent Thinking  (⅙ of allotted time)
    ul
      li Selective critique and combination of ideas in order to develop strong concepts.
      li The method is used to build on the strength of the ideas when they are put together. The combination force new thinking and creativity around how new solutions can be made and differentiated.
      li Create clusters of complementary ideas and add more texture and detail
  li Synthesis  (⅓ of allotted time)
    ul
      li Pick 3 of the strongest clusters and refine by imagining the scenario of usage and the social, emotional attributes your target user would experience or need to accomplish
      li Draw a 3-6 frame scenarios for each solution and annotate with user detail

h4 Degree of Difficulty
p Low-Medium (facilitator should be prepared to steer conversation back to specific user traits and needs)
