h1 Guerilla Research

h4 Objectives

p This method is best for quickly querying a set of users who are actively engaged with a particular topic or product.

p This is targeted and focused research for answering questions (validation of assumptions and hypotheses).

h4 Outcome

p The output from this research should enable the team to further evolve the feature list and generate new solutions.

p Timeline: 10-20 days

h4 People: 2 persons

h4 Equipment/Resources
ul
  li Recording device (audio/video)
  li camera
  li incentives for participants
  li release forms
  li note taking material
  li post its for synthesis

h4 How to?
ol
  li DEFINE: Define your topic for investigations (questions or assumptions).
  li RECRUIT:  See our recruiting guide for how to recruit, filter and screen users.
  li SELECT: Identify the strongest, diverse set of candidates (select 10 if target is 6-8), and get in touch with each subject with a short but detailed overview of the commitment. Get written commitment from subject (non-binding but symbolic). 
  li PLAN: Activities can be participating in a interview (remote/in person), completing a daily survey, creating a diary entry, sending a text message/response, taking photographs, recording a video. 
  li CONDUCT: Start cohort at the same time (ideal but not necessary). Be prepared to respond quickly to any questions or concerns from the subjects. Leverage every opportunity to build rapport and press deeper with the subjects. Document all correspondences throughout the process.
  li SYNTHESIZE: With a full understanding of each user response and behavior, take time to soon after your last interview to review your data and start synthesizing it into insight.  Extract key findings: what was surprising or unexpected? What assumptions were confirmed? Use anomalies and edge cases to push your own product concept. Avoid confirmation bias by forcing yourself to move beyond your current product concept. Ensure your team is represented, multidisciplinary backgrounds give different perspectives and see opportunities and challenges better.
  li COMMUNICATE: Create a concise summary document that is useful to you first and foremost, and can also be used to keep stakeholders up to date.

h4 Incentive
p $50-100 gift card for 1-2 hours of activity

h4 Degree of Difficulty
p Medium - High

p Source: 
  a(href="https://docs.google.com/document/d/1jNexiHfRuSKk1VoDt6hqx5GiVQDa9J5vZ0Bnpipu7Jw/edit?ts=56ddf09b") Guerilla Research
