h1 Usability Heuristic testing

h4 Objective
ul.list-group
  li.list-group-item A heuristic review can be when you just need a quick sense check that you are going in the right direction. They do not need to be done with users but can be done with the team as an exercise. 

h4 Outcome
p Provides a quick safety check on the usability of our solution

h4 Time commitment
p 1/2 day

h4 People
p 2-8  persons

h4 Equipment/Resources
ul
  li 
    a(href="https://docs.google.com/spreadsheets/d/11DDpWcDjAfIVWCynok3rg8ygUVA9dW8qLcXqQ312CPg/edit#gid=0")
      span Heuristic Design Guide
    span , please make a copy before using

h4 Detailed steps

ol
  li <strong>DEFINE</strong>: Identify a subject for review
  li <strong>RECRUIT</strong>: Form a team of multidisciplinary reviewers internally. Try to include people who aren’t too close to the product for review
  li <strong>SET IT UP</strong>: Invite everyone, set a time, a place and a framework. Set aside 3-4 hours of where everyone can participate
  li <strong>PLAN</strong>: Define the subject for review, product feature, experience etc. Gather existing research you have around your users, who are they? What have we learned from earlier research? Frame the subject you want to test; what is the goal of the subject, what are you hoping it will do, what do you want users to experience when they are using it. What are your use cases?
  li <strong>CONDUCT</strong>: Frame the questions; “we are here to test that features X lives up to our principles”. Introduce the feature or subject for testing, its goal, its main use. Frame the question you have, the things you want them to keep an eye out for. Introduce everyone to the 10 heuristics principles. Walk them through the prototype or let them play around with the experience themselves. Instruct everyone to note down what the see of problems or good things in their experience
  li <strong>SYNTHESIZE</strong>: Debrief on the observations. What did people see? Where there similarities in problems identified? Where there outliers? Ask into the outliers? Review the input and use them to create a better experience

br

h4 Degree of Difficulty
p Easy
