div.card.card-block
  h4.card-title How might we?
  p.card-text How Might We? (HMW) is a technique for brainstorming new opportunities. It is often used when looking at insights gathered from research and framing them into opportunities or alternative, when teams are feeling stuck and HMW can be used to reframe the current problem and move the team forward.

  p.card-text <em>More info</em>: <a href="http://www.designkit.org/methods/3">Ideo</a> & <a href="http://dschool.stanford.edu/wp-content/uploads/2012/05/HMW-METHODCARD.pdf">dschool</a>
