h3.display-4 Open Innovation Toolkit

p This website is a dynamic resource for Mozillians (and anyone else who is interested). 
p Find out more about <a href="/about">our approach</a>. 

p The toolkit can be accessed in two ways:

p 
  span(class="bignum") Maybe…
  span You know what your next steps is: 
    a(href="/toc-by-activity#gather-insight")
      span Gather insight
    span , 
    a(href="/toc-by-activity#ideate")
      span ideate
    span , or 
    a(href="/toc-by-activity#prototype-test")
      span prototype & test
    span .

p
  span(class="bignum") or maybe…
  span You have a question and don’t know where to get started: 
    a(href="/toc-by-questions")
      span Big Questions
    span .
p
  a(href="/glossary") Glossary 
  span for commonly used terms.
