h4.p-y-3 Open Innovation Toolkit

p This website is a dynamic resource for Mozillians (and anyone else who is interested).  Find out more about <a href="/about">our approach</a>. 

p We have lots of different resources: <a href="/workshops">workshops</a>, <a href="/methods">research methods</a>, and <a href="/everydaymethods">everyday methods</a>.  To find the ones you need, pick your path:

div.row
  div.col-sm-6
      div.card 
        a(href="/toc-by-activity")
          img.card-img-top(src="/images/123.png" width="100%")
        div.card-block
          h4.card-title Following <em>The Process</em>
          p.card-text 
            span If you like process, you will like the <a href="/toc-by-activity#gather-insight">three-phase model:</a> 
            a(href="/toc-by-activity#gather-insight")
              span Gather insight
            span ,   
            a(href="/toc-by-activity#ideate")
              span ideate
            span , 
            a(href="/toc-by-activity#prototype-test")
              span prototype & test

  div.col-sm-6
    div.card 
      a(href="/toc-by-questions")
        img.card-img-top(src="/images/qa.png" width="100%")
      div.card-block
        h4.card-title Asking Questions
        p.card-text If you have a specific question you want answered, you may find a quick answer in our <a href="/toc-by-questions">Q&A model</a>

p
  Also feel free to check out our <a href="/glossary">Glossary</a>
  span for commonly used terms and our <a href="/grid">grid</a> of most useful methods with key criteria.
