h1 Contextual Inquiry

h4 Objectives
ul.list-group
li.list-group-item Understand behaviours in the context of where people actually perform the activities you want to solve for.
li.list-group-item When solving for complex systems and behaviours, or for tacit behaviours that people aren't as aware of doing, contextual inquiry can bring you into the life of the users as a observatory person.
li.list-group-item What you mean when you hear office space and what they mean, can be two different things. Contextual inquiry removes those personal translations we make in interviews.

br

h4 Outcome
p Empathy and real life understanding of user situation leads to better understanding the problem and how to solve it. 

h4 Time commitment
p 20-25 days

h4 People
p 2 persons

h4 Equipment/Resources
ul
  li Recording device (audio/video)
  li camera
  li incentives for participants
  li release forms 
  li note taking material
  li post its for synthesis

h4 Detailed steps
ol
  li <strong>DEFINE</strong>: Define your topic for investigations (questions or assumptions).
  li <strong>RECRUIT</strong>: (see our recruiting guide) Identify the people you will interview, for contextual inquiry it is rarely a warm body, and more often a specific target audience.
  li <strong>SET IT UP</STRONG>: follow up with them to set a time to meet them in the environment where you want to observe them.
  li <strong>PLAN</strong>: Based on the topic for investigation, there should be a clear goal around what you want to observe in the participant’s natural environment. Define the tasks you are interested in observing (can be do x, but also just follow for a day of working). Plan and prepare questions to ask around the tasks you are interested in observing. Record your findings (video, photos, notes), especially contextual enquiry can be difficult to observe in real time and often requires revisiting one's notes and recordings.
  li <strong>CONDUCT</strong>: Go to where observations will take place, introduce yourself and goal of research. Ask participants to do the tasks in a normal way and observe in a non-intrusive manner. Ask questions at opportune moments and try to stay in the background as much as possible. The goal is to try to get them comfortable with you being there so they don’t completely change their way of doing things.
  li <strong>SYNTHESIZE</strong>: Debrief on the observations. With a full understanding of each participant's behavior, synthesize all observations and create patterns over time to understand a blended (but not “normalized”) picture. Extract key findings: what was surprising or unexpected? What assumptions were confirmed? Use anomalies and edge cases to push your own product concept. Avoid confirmation bias by forcing yourself to move beyond your current product concept. Ensure your team is represented, multidisciplinary backgrounds give different perspectives and see opportunities and challenges better.
  li <strong>COMMUNICATE</strong>: Create a concise summary document that is useful to you first and foremost, and can also be used to keep stakeholders up to date.

br

h4 Incentive (pending socio-economic status)

p $150/person

h4 Degree of Difficulty
p Medium - High
