h1 Interviews one-on-one

h4.class("purpose") Purpose
p Allows you to understand the problem you are trying to solve from the perspective of the user.

h4 Outcome
p Gather information or test assumptions about behaviours, beliefs and needs of your target audience to allow you to prioritise features and create new ideas. 

h4 Timeline: 15-25 days. 
p Recruiting is what takes time for interviews. Pending on the time for recruiting, your project will take longer.

h4 People: 2 person

h4 Equipment/resources
ul
  li Recording device (audio/video)
  li camera
  li incentives for participants
  li release forms
  li note taking material
  li post-its for synthesis. 

h4 How to use it?
ol
  li <strong>DEFINE</strong>: Define your topic for investigations (questions or assumptions)
  li <strong>RECRUIT</strong>: (see our 
      a(href="/recruit") recruiting guide
      span )
  li <strong>SET IT UP</strong>: Follow up with them to set a time and place to meet (remote or in-person), remind them prior to session. Make sure you have incentive ready.
  li <strong>PLAN</strong>: Build out an interview guide, activity guide (this is not a script, interviews should be conversations and your guide is just to keep you on track, not to read from). 
  li <strong>CONDUCT</strong>: On the day, ensure you have a notetaker for the interviews. Before interviewing read through our 101 guide for interviewing. Start the interview with an introduction. Open up with easy questions and draw out to specifics. Avoid asking leading questions, use storytelling techniques such as; tell me the last time you did X, tell me about how a normal day is for you, show me how you do something.  Listen carefully, take notes. Audio record and take pictures. 
  li <strong>SYNTHESIZE</strong>: With a full understanding of each user response and behavior, take time to soon after your last interview to review your data and start synthesizing it into insight.  Extract key findings: what was surprising or unexpected? What assumptions were confirmed? Use anomalies and edge cases to push your own product concept. Avoid confirmation bias by forcing yourself to move beyond your current product concept. Ensure your team is represented, multidisciplinary backgrounds give different perspectives and see opportunities and challenges better.
  li <strong>COMMUNICATE</strong>: Create a concise summary document that is useful to you first and foremost, and can also be used to keep stakeholders up to date.

h4 Incentives
ul
  li 1 hour interviews in person ~$150 pr person
  li 1 hour interviews remote ~$100 pr person

h4 Degree of Difficulty
p Medium - High
