

div.card.card-block
  h4.card-title Job to be done
  p.card-text The basic idea of <em>jobs to be done</em> is that we hire products or services to do a job for us. That is we use the services with an outcome in mind, however tacit or explicit that outcome may be. And understanding that job, is what is most important for developing the right solution. The 
    a(href="http://hbswk.hbs.edu/item/clay-christensens-milkshake-marketing")
      famous Milkshake example 
    span explains the basic concept well. For an understanding of the strategic importance of this concept the simultaneously overserved and underserved article from 
      a(href="https://medium.com/@alexdanco/emergent-layers-chapter-2-overserved-and-underserved-customers-6d5ce546531d#.se1y434q5") 
        Social Capital 
    span is a good place to start.  To get to jobs to be done, you can use a basic interview method, and focus the conversation on the 
      a(href="http://jobstobedone.org/radio/unpacking-the-progress-making-forces-diagram/")
    span motivating factors of the solution for the users. 

  p.card-text <em>More info</em>: 
    a(href="http://www.christenseninstitute.org/key-concepts/jobs-to-be-done/") Christensen Institute 
    span.
      & Mozilla’s
    a(href="https://docs.google.com/document/d/13190HJWD-C9-xJXyz_SPaFm33h_p8412000hya2ubQk/edit") 
      how to do JTBD research
    span .
