h1 Research Methods

p In-depth interviews, observations, and participation with people in their natural environment to understand in detail how they think and relate to your area of investigation.

ul
  li <a href="/recruit">Interviewing basics</a>
  li <a href="/interviews">Doing one on one interviews</a>
  li <a href="/guerrilla">Guerilla research</a>
  li <a href="/moments">Mobile moments</a>
  li <a href="/inquiry">Contextual Inquiry</a>
  li <a href="/usability">Usability testing with people</a>
  li <a href="/heuristics">Usability testing with heuristics</a>
  li <a href="/problem-validation">Problem validation exercise</a>
  li <a href="/market-research">Quick market research</a>

  
