div.card.card-block
  h4.card-title Systems Diagram / Mindmap
  p.card-text Diagrams are useful tools to gain overview of complex systems. They are organic in their structure and allows us to, via a visual representation, explain how a system or concept is related. Mindmaps can be great tools when starting out on a complex problem or brainstorming on your own to give a quick overview of the dependencies and connections related to the problem

  p.card-text <em>More info</em>: 
    a(href="http://www.tonybuzan.com/about/mind-mapping/") Tony Buzan
