h1 Mobile moments (dScout)

h4 Objectives

p Understand behaviour over time. What people say they do and what they do are often different things.
p Get insight into how people's behaviour and needs throughout the day of a user over time.

h4 Outcomes
p This activity should allow the team to prioritise features and generate new ideas.

h4 Time commitment
p 15-25 days

h4 People
p 2 persons

h4 Equipment/Resources
ul 
  li dscout account
  li note taking material
  li post its for synthesis.

h4 Detailed steps
ol
  li DEFINE: Define your topic for investigations (questions or assumptions). Go to dscout.com - create new project.
  li RECRUIT: If using mobile moments (dscout) use dscout for recruiting. If more specific (see our recruiting guide). On dscout create Screener.
  li SCREENER: Define gender, age, country preferences. Set how many missions (journal entries), when, duration and incentive info. Define how many participants and add a short description of your project. (Always choose stealth mode for these projects).
  li FILTER: Fill in the dScout recruitment questions (15 max) to filter your participants to your needs.
  li SELECT: Review the potentials and follow up with them to set a time and place to meet (remote or in-person). Define if you want a follow up remote interview following the study.
  li PLAN: Build your missions (journal questions) and interview questions.
  li CONDUCT: Start the project, follow up with participants who aren’t filling their journals.
  li SYNTHESIZE: Debrief on the journal. With a full understanding of each user response and behavior, synthesize all feedback and create patterns over time to understand a blended (but not “normalized”) user picture. Extract key findings: what was surprising or unexpected? What assumptions were confirmed? Use anomalies and edge cases to push your own product concept. Avoid confirmation bias by forcing yourself to move beyond your current product concept. Ensure your team is represented, multidisciplinary backgrounds give different perspectives and see opportunities and challenges better
  li COMMUNICATE: Create a concise summary document that is useful to you first and foremost, and can also be used to keep stakeholders up to date.

h4 Incentive
p $50/mission or $75/day

p How to get started with 
  a(href="http://dscout.com/") http://dscout.com/
p Gemma Petrie is our dScout contact person internally. Client management is aryeh@dscout.com

h4 Degree of Difficulty
p Medium  - we recommend having a user researcher with you as you work on this.
