h1 MVP

div.card
  div.card-header
    strong Objective
  div.card-block
    div.card-text Rapidly create and test the smallest feature set of a product in order to demonstrate that its value proposition resonates with real users.

div.card
  div.card-header
    strong Outcome
  div.card-block
    div.card-text Demonstration of viability, feasibility, desirability

h4 Time
p 6-9 months depending on complexity of the product

h4 Number of people needed
p 4-6 team members, typically 4 engineers, and a product lead and UX designer

h4 Equipment/materials/space
p The usual

h4 Detailed steps

ul
  li The most important aspect of the MVP is understanding that you will accrue technical debt and design debt. This “startup” mindset is almost in direct opposition to a large sw org mindset around building product.
  li Minimal + viable = what is the minimum you can do to still show value.
  li Distill your product down to its simplest form (where it still retains value). Ask questions like: can I provide this value without building it?
  li Use off the shelf technology where possible.
  li Isolate new-to-the-world engineering, and only build if the mockup or prototype overwhelmingly required it
  li Continue reducing scope and simplifying the product as you build it out -- focusing on the unique value of the product, not the technical achievement.
  li Continuously test with real users and refine

h4 Degree of Difficulty
p High 
