div.page-header
h1 Problem validation exercise


div.card
  div.card-header 
    h6 Objective
  div.card-block
    div.card-text  Learn/validate your hypothesis and assumptions around your problem and target audience.

div.card
  div.card-header
    h6 Outcome
  div.card-block
    div.card-text Build products that have problem-solution fit by pivoting or adapting learnings into development of the product.

h4 Time commitment
p 5 days

h4 People
p 2  persons

h4 Equipment/Resources

p Budget for a targeted Facebook ad.

h4 Detailed Steps

p Early problem validation (false door example):

ol
  li Create a one page that describes your future product; incl. presenting its value proposition and its main benefits.
  li Include a “sign-up for more information email” CTA.
  li Ensure this page or request goes out to as many people in your target audience group as possible - using things like Facebook ads or forums.
  li Collect emails and follow up with a few of them for interviews to understand:
    ul
      li what do users who sign up actually think the product does?
      li who do they think it is for?
      li and can the user understand how they would use it in their life?

h4 Degree of Difficulty
p Medium
