h1 Prototypes

p
  em Prototypes are used to reflect the experience you want people to have with your concept, and help you refine the interaction by getting feedback from real users.

ul
  li <a href="/prototyping-101">Prototyping 101</a>
  li <a href="/storyboarding">Storyboarding</a>
  li <a href="/paper-prototype">Paper prototyping / user flow / visualization</a>
  li <a href="/click-prototype">Click-through / interactive prototype</a>
  li <a href="/MVP">Minimum Viable (or Valuable) Product (MVP)</a>
