h1 Prototyping 101

p There are several general benefits of prototypes:
ul
  li Communicate ideas effectively
  li Give early shape to rough ideas
  li Secure alignment on features, flow, and experience internally
  li Catch mistakes early (including incorrect assumptions and biases)
  li Iterative development that allows you to get to problem/solution fit faster

p The type of prototype you want to build is often linked to the fidelity you need. Early on, low fidelity is best because we don’t get too attached and also users are more comfortable giving critical feedback. Later, as the ideas get more concrete, we can build higher fidelity prototypes that get us closer to our MVP.

p If you want to learn how to run a rapid prototype workshop why not take our amazing <a href="http://mozilla.github.io/participation-curriculum/rapid-prototyping/index.html#introduction">Rapid Prototype course</a>?
