h1 Interviewing 101 

p.
  User research is not about asking our users what to build or do, and we would
  not build product that users simply requested without synthesizing and enriching
  that feedback with our own knowledge and perspective.

p.
  User research is about understanding their needs, pain points, and perspectives
  so we build better products that fit their mental model and their lives. 

p To learn more about interviewing users, see a selection of tips and resources below. 

ul
  li 
    a(href="http://blog.webfwd.org/post/12205546599/user-research-its-key-for-startups") Video guide 
    span (if you can’t be bothered to read)
  li How to interview:
    ul 
      li
        a(href="https://www.youtube.com/watch?v=9t-_hYjAKww") How to conduct an interview
      li
        a(href="https://vimeo.com/1269848") Intro video to talking to people on the street
      li
        a(href="https://drive.google.com/a/mozilla.com/file/d/0B3A7OL51663ccHN4dVZLSGJCeTg/view?usp=sharing") 10 tips for interviewing
  li
    a(href="/recruiting-guide") How to recruit
  li
    a(href="https://docs.google.com/a/mozilla.com/spreadsheets/d/19SDGGlMxPXKsDynmtg-T54ejeIvl9OR2X4eXTjjp1Qo/edit?usp=sharing") How to synthesize when remote 
    span (still draft)
  li
    a(href="/research-overview") Quick overview of recommended research methods

p 
  span Take our 
  a(href="http://mozilla.github.io/participation-curriculum/interviewing-users-for-mozilla/index.html") Mozilla community course 
  span on interviewing users! 

h3 User-centered research

p.
  In-depth interviews, observations, and participation with people in their
  natural environment to understand in detail how they think and relate to your
  area of investigation.
