//- Research Overview
//- What
//- Objective
//- When
//- Effort
//- Cost
//- # of people
//- Time
//- One-on-one interview
//- Allows you to understand the problem you are trying to solve from the perspective of the user.
//- Understanding the problem
//- Finding the right solution
//- High
//- $150/user
//- 2+
//- 15-25 days
//- Guerrilla Research
//- This method is best for quickly querying a set of users who are actively engaged with a particular topic or product.
//- Finding the right solution
//- Med
//- $75/user
//- 2
//- 10-20 days
//- Mobile moments / Journaling (dscout)
//- Understand behaviour over time. What people say they do and what they do are often different things.
//- Understanding the problem
//- Med
//- $150/user
//- 2
//- 15 days
//- Contextual inquiry / immersions
//- Understand behaviours in the context of where people actually perform the activities you want to solve for.
//- Understanding the problem
//- Finding the right solution
//- High
//- $150/user
//- 2
//- 20 days
//- User experience testing
//- Topics that are suitable for usability testing are questions such as: can my target user use my product? can users navigate it successfully? Does my experience make sense/is it a good experience? are there any big usability blockers?
//- Finding the right solution
//- Med
//- $75-100/user
//- 2
//- 5-8 days
//- Usability Heuristic testing
//- Quick test to show if we've designed something well enough and up to standard (does not replace usability testing).
//- Finding the right solution
//- Low
//- none
//- 3-4
//- 0.5 day
//- Quick competitive review
//- Understand the competitive landscape and how our solution competes.
//- Understanding the problem
//- Finding the right solution
//- Low
//- none
//- 1
//- 1 day
//- Quick Market Research
//- Understand the vertical/industry(ies); its prospects and growth, to gain understanding of the future industry situation for the market.
//- Understanding the problem
//- Low
//- none
//- 1
//- 1/2 day
//- Prototype testing
//- Prototypes are not just good because they make you visualise and make what you are thinking, but also because they give you something to test and get feedback on, early.
//- Understanding the problem
//- Finding the right solution
//- Med
//- $75-150 / person
//- 2
//- varied
