div.page-header
h1.display-4 Solution validation exercise

div.panel.panel-primary
  div.panel-heading
    div.panel-title
      div Purpose
  div.panel-body
    p Learn/validate your hypothesis and assumptions around your solution and target audience.
div.panel.panel-success
  div.panel-heading
    div.panel-title
      div Outcome
  div.panel-body
    p Build products that have product/market fit by pivoting or adapting learnings into development of the product.

h4 Time commitment
p 5 days

h4 People
p 2 persons

h4 Equipment/Resources
ul.list-group
  li.list-group-item Recording device (audio/video)
  li.list-group-item camera
  li.list-group-item speciality cameras (talk to UR)
  li.list-group-item incentives for participants
  li.list-group-item release forms
  li.list-group-item note taking material
  li.list-group-item post its for synthesis.

h4 Detailed steps

Early solution validation: Once you've clearly defined your problem and you know what you are trying to solve, for who and have an idea of how, it is time to start testing the how.

ol
  li <strong>DEFINE</strong>: what you wish to test around your solution. What about the how do you have questions about? What do you want to understand more about? Where did you make assumptions you are unsure of? Write down your questions and come up with a prototype that can test those questions.
  li <strong>BUILD</STRONG>: your prototype. Do this as early and fast to get feedback as quickly as possible, by creating clickable prototypes and paper prototypes.
  li <strong>RECRUIT</strong>: people to test it on. Ideally recruit for people who have the problem you are solving for. But especially in the early days, just getting people to try your solution and see if it works will be helpful.
  li <strong>CONDUCT</strong>: Let testers know this is a prototype and so not a finished product. The goal is not to test them but to test the prototype. Present your prototype to users, you can frame the task, but avoid guiding them. Think out-loud testing is extremely useful in prototype evaluation, so ask users to voice everything they think as they go through your prototype. They may need reminding, so ask often “what are you thinking right now?”. Observe where they have problems, why they have problems. Same rules as for general interviews apply.
  li <strong>LEARN & REPEAT</strong>: As your product advanced in development you can advance the prototype techniques you are using and target more in on the people you test with.
  li <strong>COMMUNICATE</strong>: Create a concise summary document that is useful to you first and foremost, and can also be used to keep stakeholders up to date.

h4 Degree of Difficulty
p Medium
