h1 System Thinking / Visual Collaboration Workshop

div.card
  div.card-header
    strong Objective
  div.card-block
    div.card-text Compare mental models, better understand other perspectives, get a group on the same page

div.card
  div.card-header
    strong Outcome
  div.card-block
    div.card-text 
      ul
        li Empathy for diverse perspectives
        li A model for problem solving high-level challenges
        li A synthesized path for moving forward on a challenge (when applied to a real-world problem)


h4 Time
p Prep time is roughly 3 hours for a 1 hour session. Prep time includes becoming familiar with the method, and making modifications in the script in order to tailor to the communication style of the participants.
p The session is typically 60-90 minutes.
p Synthesis time is roughly 1 hour, including light documentation.

h4 Number of people needed
p 1 facilitator, and 3-8 participants to illustrate diverse thinking

h4 Equipment/materials/space
ul
  li Design materials (large paper, Sharpies; note cards)
  li A private, brightly-lit room with a white board and ample workspace for each participant in a neutral location is recommended.

h4 Detailed steps
p Recommended method and materials: <a href="http://www.drawtoast.com/">http://www.drawtoast.com/</a>

h4 Degree of Difficulty
p Medium (steps are clearly laid out on the website and the activity is fairly organic)
