h1 Tools for each phase
p
  em Specific content grouped by key activities; Gather insights + Ideate + Prototype and Test

//- [Still to be created: (RJ) A overview of why three phases exist and they interrelate. ]

h4#gather-insight Gather insights
ul
  li Get out of the building: 
    a(href="/recruit") How to interview and recruit
  li Cover your basics: 
    a(href="/interviews") Interviews
  li Get your basic done fast: 
    a(href="/guerilla") Guerilla Research
  li Understand their day or tacit moments: 
    a(href="/moments") Mobile moments
  li Uncover the real story: 
    a(href="/inquiry") Contextual Inquiry
  li Never ship without: 
    a(href="/usability") Usability Testing with people
  li Ensure it’s usable: 
    a(href="/heuristic") Usability Heuristic testing
  li Test the solution early and fast: 
    a(href="/problem-validation") Prototype testing
  li I’m not an MBA: 
    a(href="/competitive") Quick Competitive Review
  li Still not an MBA: 
    a(href="/market-research") Quick Market Research
  li Our guiding principle! Understand your 
    a(href="/job-to-be-done") Job-to-be-done

h4#ideate Ideate
ul
  li High-octane team workshop to define the product: 
    a(href="/design-sprint") Product Design Sprint
  li Co-create with real users: 
    a(href="/codesign") Participatory Design Session
  li Fun and accessible way to align thinking: <a href="/system-thinking">System Thinking / Visual Collaboration Workshop</a>
  li Fast way to generate new ideas: <a href="/ideation">Brainstorm session</a>
  li Fast way to improve current ideas: <a href="/feature-ideation">Feature Ideation / User Need Workshop</a>
  li Framing the question well is most of the battle: <a href="/howmightwe">How might we...?</a>
  li Thinking in experiences, not transactions: <a href="/storyboarding">Storyboarding</a>
  li Everything is connected! <a href="/mindmap">Systems Diagram / Mindmap</a>

h4#prototype-test Prototype and Test
ul
  li Simple making to try out your ideas: <a href="/prototyping-101">Prototyping 101</a>
  li Making sense of user needs in a few steps: <a href="/storyboarding">Visual prototyping / storyboarding / user flow</a>
  li Fast and dirty interactions to test assumptions: <a href="paper-prototype">Paper prototype</a>
  li A little more “life-like” to show users: <a href="/click-prototype">Interactive prototype / Click-through</a> (walled garden)
  li Our Mozilla definition of this milestone: <a href="/MVP">MVP</a>
  li Evaluating your product with real people: <a href="/usability">User testing</a>
  li Early product concept testing based on description alone: <a href="/problem-validation">Prototype testing</a>
  li Method to unpack assumptions: <a href="/5whys">5 Whys</a>
  li Visual method to surface priorities and needs: <a href="/card-sort">Card Sort</a>
