h1 Workshops
p Focused and time-boxed activities with specific goals and expected outcomes. A byproduct of a workshop is often better communication and collaboration between team members.

h4 Ideation 101
p Our core philosophy is built around the needs of the user. At Mozilla, we do everything possible to uncover actual user needs, test our assumptions, and refine solutions in collaboration with the people who will ultimately use our products. Teams do not work in isolation. We cultivate empathy by actively engaging with potential users to provide feedback and even contribute to the development of new ideas in co-creation workshops. This means designing with users, not just designing for them. In addition, we believe workshops and brainstorming sessions are only successful when focused prep work is carried out and the session is facilitated well. Small group brainstorming depends on matching a well-defined object of investigation (physical location, topic of interest, desired outcome, timeframe for project execution), with a process of divergent thinking focused on generating many ideas, and convergent thinking where strongest ideas are refined as concepts.

p Our current workshop resources:
ul
  li <a href="/codesign">Participatory Design / Co-design Worksession</a>
  li <a href="/system-thinking">System Thinking / Visual Collaboration Workshop</a>
  li <a href="/ideation">Idea Generation</a>
  li <a href="/feature-ideation">Feature Ideation</a>
  li <a href="/design-sprint">Product Design Sprint</a>
